
/** 

    DISCORD EMOJI ANIMATIONS. (V.05)
    --------------------------------

    Hey, heres a pretty cool improvement to your Discord client.
    Some basic animations to some emoji! They're not very popular
    emoji though. If you have any you'd like animated please let
    me know @jakeoid#6284.

    https://owo.whats-th.is/d8ef5d.gif

    **/

/** ******************** **
	Hearts
	** ******************** **/ 

	/** Heart       **/ 
	img[alt*=":heart:"], 
	img[alt*=":hearts:"], 
	img[alt*=":green_heart:"], 
	img[alt*=":blue_heart:"], 
	img[alt*=":purple_heart:"],
	img[alt*=":yellow_heart:"], 
	img[alt*=":heartbeat:"], 
	img[alt*=":heartpulse:"], 
	img[alt*=":black_heart:"], 
	img[alt*=":sparkling_heart:"] { animation: heartbeat 1s infinite;}

/** ******************** **
	Emoji
	** ******************** **/

	/** Money Wings **/ img[alt*=":money_with_wings:"] {animation: wobble 2s infinite;}
	/** Kiss        **/ img[alt*=":kiss:"] {animation: heartbeat 1s infinite;}
	/** Hammer      **/ img[alt*=":hammer:"] {animation: wobble 0.5s infinite;}
	/** Pickaxe     **/ img[alt*=":pick:"] {animation: wobble 0.5s infinite;}
	/** Bomb        **/ img[alt*=":bomb:"] {animation: bomb 2s infinite;}
	/** Boom 		**/ img[alt*=":boom:"] {animation: boom 2s infinite;}
	/** Eyes 		**/ img[alt*=":eyes:"] {animation: eyes 4s infinite;animation-timing-function:steps(1);}
	/** Laughing 	**/ img[alt*=":laughing:"] {transform: rotate(-90deg);}

	/** Heart Eyes  **/ img[alt*=":heart_eyes:"] {animation: heartbeat 1s infinite;}
	/** Joyful      **/ img[alt*=":joy:"] {animation: joy 2s infinite;}
	/** Upside Down **/ img[alt*=":upside_down:"] {animation: wobble 2s infinite;}
	/** Scream      **/ img[alt*=":scream:"], img[alt*=":scream_cat:"] {animation: scare 2s infinite;}
	/** ROFL        **/ img[alt*=":rofl:"] {animation: rofl 2s infinite;}
	/** Sneezing    **/ img[alt*=":sneezing_face:"] {animation: wobble 1s infinite;}

	/** Joyful Cat  **/ img[alt*=":joy_cat:"] {animation: joy 2s infinite;}
	/** Heart Eyes  **/ img[alt*=":heart_eyes_cat:"] {animation: heartbeat 1s infinite;}

	/** Waving      **/ img[alt*=":wave:"] {animation: wobble 2s infinite;}

	/** Angry	**/ img[alt*=":angry:"], .emoji[alt*="Angery"], .emoji[alt*="Thonkery"] {animation: vibrate 0.2s infinite;}

/** ******************** **
	Sports
	** ******************** **/

	/** Soccer      **/ img[alt*=":soccer:"] {animation: rotate 2s infinite;} 
	/** Basketball  **/ img[alt*=":basketball:"] {animation: rotate 2s infinite;}
	/** Baseball    **/ img[alt*=":baseball:"] {animation: rotate 2s infinite;} 
	/** Tennis      **/ img[alt*=":tennis:"] {animation: rotate 2s infinite;}

/** ******************** **
	Tech
	** ******************** **/

	/** Gear        **/ img[alt*=":gear:"] {animation: rotate 2s infinite;}
	/** Disc & CD   **/ img[alt*=":cd:"], img[alt*=":dvd:"] {animation: rotate 2s infinite;} 

/** ******************** **
	Etc
	** ******************** **/

	/** Snowflake   **/ img[alt*=":snowflake:"] {animation: rotate 2s infinite;}
	/** Sun         **/ img[alt*=":sunny:"] {animation: rotate 2s infinite;}
	/** Hourglass   **/ img[alt*=":hourglass:"] {animation: hourglass 2s infinite;}
	/** mmLol	**/ .emoji[alt*="mmLol"] {animation: mmlol 5s infinite;}


	/** ************************************************ **/
	/** CSS KEYFRAMES BEGIN HERE, ITS GOING TO GET MESSY **/
	/** ************************************************ **/

	@keyframes wobble	{0%,100%{transform:rotate(20deg)}50%{transform:rotate(-20deg)}}
	@keyframes scare	{0%,100%{transform:rotate(9deg)}50%{transform:rotate(-9deg)}}
	@keyframes hourglass{0%,100%,41%{transform:rotate(0)}20%,40%{transform:rotate(-180deg)}}
	@keyframes rotate 	{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}
	@keyframes rofl 	{0%{transform:rotate(45deg)}100%{transform:rotate(404deg)}}
	@keyframes heartbeat{0%,100%,40%,80%{transform:scale(.75)}20%,60%{transform:scale(1)}}
	@keyframes joy 		{0%,100%,50%{transform:scale(.9)}25%,75%{transform:scale(1)}}
	@keyframes boom 	{0% {transform:scale(.1)}20% {transform:scale(1)}80% {transform:scale(1);opacity: 1;}100%{opacity: 0;}}
	@keyframes bomb 	{0%,100%,20%{transform:scale(1)}90%{transform:scale(.6)}95%{transform:scale(1.5)}}
	@keyframes eyes 	{0%,25%,75%{transform:scaleX(1)}50%,100%{transform:scaleX(-1)}}
	@keyframes mmlol 	{0% { transform: rotate(0deg); }69% { transform: rotate(0deg); }70% { transform: rotate(-90deg); }99% { transform: rotate(-90deg); }100% { transform: rotate(0deg); }}
	@keyframes vibrate 	{25%{transform: translateX(3px) translateY(-2px)}50%{transform: translateX(-1px) translateY(3px)}75%{transform: translateX(-4px) translateY(-2px)}100%{transform: translateX(2px) translateY(-1px)}}
	/** ******* **/
